@import "src/styles/variables";

.title {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 1.5em;
  background-color: $primary;
}

.sidebar {
  background-color: $dark;
  color: $light;
  width: 30%;
  min-width: 120px;
  max-width: 300px;
  flex-grow: 1;

  .sidebar-item-wrapper {
    :hover {
      background-color: lighten($dark, 5%);
    }

    :active {
      background-color: darken($dark, 5%);
    }

    .sidebar-item {
      padding: 0.2em 1em 0.2em 2em;

      p {
        word-wrap: break-word;
      }
    }
  }
}
