@import "src/styles/variables";
@import "src/styles/responsive";

.sidebar {
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  width: 258px;
  background-color: $dark;
  color: $light;
}

.title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  min-height: 64px;
  border-bottom: lighten($dark, 5) solid 1px;
}

.sidebar-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar-item-wrapper {
  :hover {
    background-color: lighten($dark, 5);
  }

  :active {
    background-color: darken($dark, 5);
  }

  .sidebar-item {
    padding: 0.2em 1em 0.2em 2em;

    p {
      word-wrap: break-word;
    }
  }
}


@include is-small {
  .sidebar {
    display: none;
  }
}
