@import "variables";

* {
  font-family: 'Noto Sans SC', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 999;
}

.main-content {
  flex-grow: 1;
}

.focus {
  background-color: lighten($dark, 5%);
}
